$color-red: #BD3C4B;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-darker: #cfd0d5;
$color-gray: #DDE0E4;
$color-light-gray: #F5F6F7;
$color-blue: #0bb9f3;


$color-transparent: transparent;
$color-transparent-gray: rgba(29, 29, 31, 0.05);

$color-modal-background: #171D2280;

$text-color-title: #1D1D1F;
$text-color-subtitle: #001432;
$text-color-content: #333F48;
$text-color-content-secondary: #a5a4a4;
