$color-red: #BD3C4B;
$color-black: #000000;
$color-white: #FFFFFF;

$color-transparent: transparent;
$color-transparent-gray: rgba(29, 29, 31, 0.05);

$text-color-title: #1D1D1F;
$text-color-subtitle: #001432;
$text-color-content: #333F48;
