@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.footer-component {
  background-color: $color-black;
  color: $color-white;
  height: 96px;
   & .items {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    & .item {
      list-style: none;
      font-size: $font-size-small-medium;
      margin: 12px;
    }
   }
}
