@import '../scss/fonts';
@import '../scss/colors';


.pages-tracker-component{
  display: flex;
  justify-content: space-between;
  font-size: $font-size-medium;

  & .page {
    display: flex;

    & .number {
      background-color: $text-color-title;
      color: $color-white;
      height: 24px;
      width: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 50%;
    }

    & .page-name {
      font-weight: $font-weight-medium-light;
      margin-left: 8px;
    }

    &.inactive {
      & .number {
        background-color: $color-gray-darker;
      }
    }
  }
}
