@import '../scss/colors.scss';
@import '../scss/fonts.scss';

.course-card-component {
  margin: 50px;
  width: 410px;
  border-radius: 12px;
  transition: box-shadow ease-in-out 150ms,
              transform ease-in-out 150ms;
  padding-bottom: 8px;

  &:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transform: translateY(-4px);
  }
  
  & .image-container {
    height: 256px;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: $color-light-gray;
    
    & .name {
      position: absolute;
      bottom: 16px;
      left: 16px;
      background-color: $color-gray;
      padding: 6px;
      border-radius: 4px;
    }
  }

  & .content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;

    & .title {
      margin-top: 24px;
      font-weight: $font-weight-medium;
      font-size: $font-size-medium;
    }

    & .description {
      margin-top: 12px;
      text-align: left;
      font-size: $font-size-medium;
      line-height: 25.6px;
    }

    & .review {
      margin-top: 12px;
      display: flex;

      & .stars {
        margin-left: 4px;
        font-weight: $font-weight-medium;
      }

      & .people {
        margin-left: 4px;
        color: $text-color-content-secondary;
        font-weight: $font-weight-medium;
      }
    }

    & .duration {
      margin-top: 20px;
      display: flex;

      & .time {
        margin-left: 4px;
        font-weight: $font-weight-medium;
      }
    }
  }

  & .action-container {
    margin-top: 25px;
    margin-left: 8px;
    width: 157px;
  }
}
